# 不上传数据
data/*
saves/*

# 但是不要忽略
!saves/Qwen2-VL-7B-Instruct/lora/checkpoint-200_280042_text
!saves/Qwen2-VL-7B-Instruct/lora/checkpoint-200_282136_img
!saves/Qwen2-VL-7B-Instruct/lora/checkpoint-900_0.8
